@CHARSET "UTF-8";

body
{
  background-image: linear-gradient(90deg, blue, purple);
    color: white;
    font-size: 12pt;
    font-family:The Monday;
    text-align: center;
    text-decoration: none;
}

h1
  {
    color:white;
    fontsize:30pt;
    font-family:Lemon Milk;
  }

h2
{
  color:white;
  fontsize:20pt;
  font-family:Narnia;
}

a
{
  color:blue;
  fontsize:15pt;
}
