@CHARSET "UTF-8";

body
{
  background-image: linear-gradient(90deg,red,yeallow);
    color:white;
    font-size:12pt;
    font-family:Lexend;
    text-align:center;
    text-decoration:none;
}

h1
  {
    color:black;
    fontsize:30pt;
    font-family:Impact;
  }

h2
{
  color:black;
  fontsize:30pt;
  font-family:Oswald;
}

a
{
  color:blue;
  fontsize:15pt;
  remove:overwritten line in the links
}
